// .heros {
//     // background-repeat: no-repeat;
//     // background-size:cover;
//     // background-image: url("https://img.freepik.com/vecteurs-premium/fond-bande-dessinee-demi-teinte-modele-papier-peint-orange-design-super-heros_499431-520.jpg?w=360");
//     // background-color: rgb(175, 175, 175);
//     display:flex;
//     // margin: 20px;
//     // flex-wrap: wrap;
//     // flex-basis: 200;
//     // flex-grow: 1;
//     table {
//         flex: 1 1 0;
//         table-layout: fixed;
//         text-align: center;
//         border-collapse: collapse;
//         border: 3px solid rgb(0, 0, 0);
//         margin: 10%;
//         // font-weight: bold;
//         display: flex;
//         // width: 50;
//         tbody {
//             margin-top:20%;
//         }
//     }
// }

// table {
//     thead {

//     }
//   }
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
  }
  thead {
    border: 1px solid black;
  }
  th {
    border: 1px solid black;
  }
  
//   thead th:nth-child(1) {
//     width: 30%;
//   }
  
//   thead th:nth-child(2) {
//     width: 20%;
//   }
  
//   thead th:nth-child(3) {
//     width: 15%;
//   }
  
//   thead th:nth-child(4) {
//     width: 35%;
//   }
  
//   th,
  td {
    padding: 20px;
  }

